@import "../abstracts/mixins";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 62.5%;
    /* best to use percentage of the original browser 16px default in order not to make our users who have browser font preference have a hard time navigating our website*/
    /*
    @include respond-phone  {
        font-size: 50.5%;
    } I called this differnetly because of the nature of the mixin. Feel free to use the mixin file to check it out.
    */
    
    @include respond(tab-land) {
        font-size: 56.25%; // 9pixels 16/9
    }

    @include respond(tab-port) {
        font-size: 50%; // 8pixels 16/8
    }
    
    @include respond(big-desktop) {
        font-size: 75%; // 12pixels 16/16
    }
}
body { 
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $main-grey;
    padding: 3rem;
    box-sizing: border-box;


    @include respond(tab-port) {
        padding: 0;
    }
}